name: Lint and Test Charts

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Run helm lint
        run: helm lint ./kijo

      - name: Run helm template
        run: helm template kijo ./kijo --debug

  chart-testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2

      - name: Add Helm repositories
        run: |
          helm repo add aquasecurity https://aquasecurity.github.io/helm-charts/
          helm repo update

      - name: Run chart-testing (lint)
        run: ct lint --target-branch ${{ github.event.repository.default_branch }} --charts ./kijo

      - name: Create kind cluster
        uses: helm/kind-action@v1
        if: github.event_name == 'pull_request'

      - name: Run chart-testing (install)
        if: github.event_name == 'pull_request'
        run: ct install --target-branch ${{ github.event.repository.default_branch }} --charts ./kijo
